@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header,
main,
footer {
  margin: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a:hover {
  text-decoration: underline;
  color: #ce0c2c;
}

.links-container {
  display: flex;
  flex-direction: column;
}

.links-container a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

ul li {
  margin-bottom: 15px;
  letter-spacing: 3px;
  list-style-type: none;
}

li a {
  color: #000000;
}

li a:hover {
  text-decoration: underline;
  color: #ce0c2c;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 10px; /* Apply margin to all headers */
  letter-spacing: 3px;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  font-family: "Varela Round", sans-serif;
}

h2 {
  font-size: 32px;
  color: #4fffc4;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

section {
  color: #adf308;
  font-size: 22px;
  letter-spacing: 3px;
}

#posters-images {
  margin-bottom: 20px;
}

p {
  color: #af24f5;
  font-weight: 700;
}
